/* Inicio mobile About us */

.header__content {
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 0 15px;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 65%;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
  }
  &__paragraph {
    font-weight: 600;
    font-size: 20px;
    color: #777776;
  }
}

.highlight__title {
  color: #fdc72d;
}

.company__principles {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 0 15px;
  &__title {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
  }
  &__list li {
    font-weight: 400;
    font-size: 15px;
    color: #777776;
  }
}

.company__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: #fdc72d solid;
  height: 345px;
}


.worker__delivery {
  height: 400px;
}

@media (min-width: 992px) {
  .header__content {
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 0 15px;
    justify-content: center;
    &__container {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 65%;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
    }
    &__title {
      font-weight: 700;
      font-size: 40px;
      color: #000000;
    }
    &__paragraph {
      font-weight: 600;
      font-size: 20px;
      color: #777776;
    }
  }


  .highlight__title {
    color: #fdc72d;
  }

  .company__principles {
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0 15px;
    &__title {
      font-weight: 700;
      font-size: 30px;
      color: #000000;
    }
    &__list li {
      font-weight: 400;
      font-size: 15px;
      color: #777776;
    }
  }

  .company__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: #fdc72d solid;
    height: 345px;
  }


  .worker__delivery {
    height: 400px;
  }
}
